.w100 {
    width: 100%;
}
.text-center {
    text-align: center;
    justify-content: center;
}
.p-h1, .p-h2, .p-h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 600;
    font-size: 1.6em;
}
.p-h2 {font-size: 1.4em;}
.p-h3{font-size: 1.2em;}